@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
:root{
    --pri-color:#1db954;
    --sec-color:#1ed760;
    --white:#ffff;
    --grey:#191414;
}
body{
    background:linear-gradient(rgba(27, 2, 167, 0.2), rgba(21, 1, 134, 0.267)),url("joshua-fuller-ta7rN3NcWyM-unsplash.jpg") ;
    min-height: 100vh;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: difference;
}

.heading{
    height: 25vh;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 25vh;
    color:var(--white);
}
.header_text{
    width: 80vw;
    color: var(--white);
}



