@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
   
}
:root{
    --pri-color:#1db954;
    --sec-color:#1ed760;
    --hover--color:#15813b;
    --white:#ffff;
    --grey:#191414;
}
button,input{
    border: none;
    outline: none;
    padding: ;
    border-radius: ;
}
/* body{
    background:linear-gradient(rgba(3, 3, 3, 0.8), rgba(1, 1, 2, 0.959)),url("joshua-fuller-ta7rN3NcWyM-unsplash.jpg") ;
    min-height: 100vh;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:overlay;
} */
body{
    background-color: var(--grey);
}
input,button{
    outline: none;
    border: none;
}
/* landing page */
.heading{
    height: 25vh;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 25vh;
    color:var(--white);
}
.green_text{
    color: var(--pri-color);
}
header{
    /* background-color: yellowgreen; */
    margin-top: 3rem;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    color: var(--white);
}
.getStarted{
    background-color: var(--pri-color);
    color:var(--white);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
    transition: 200ms ease;
}
.getStarted:hover{
   background-color: var(--hover--color);
}
a{
    text-decoration: none;
    color: var(--white);
}

/* main search page */
.input_form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
}
.input_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    color: var(--white);
    padding: 0 2rem;
}

.input_div-btn{
    color: var(--pri-color);
    font-size: 2rem;
    background-color: var(--grey);
}
.playlists,.genre{
    width:15rem;
    border-radius: 2rem;
    padding: 0.5rem;
}
.genre{
    margin-left: 0.8rem;
}

.output_label{
    margin: 0 2rem;
    color: var(--white);
}
.output_div{
    display: flex;
    justify-content: center;
    align-items: center;
}






